* {
  margin: 0;
  padding: 0;
}

:root {
  --color-blue: #5aa9e6;
  --color-blue-sky: #7fc8f8;
  --color-yellow-paradise: #ffe45e;
  --color-pink: #ff6392;
  --color-grey: #202633;
  --color-purple: #77216f;
  --color-purple-white: #9f639a;
}

@font-face {
  font-family: BebasNeue-Regular;
  src: url(./assets/font/BebasNeue-Regular.ttf);
}

html,
body {
  height: 100%;
}
#container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  overflow: auto;
  background-color: var(--color-grey);
}
#main-container {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  background-color: var(--color-grey);
  gap: 90px;
}
#container-header-main {
  grid-row: 1 / 2;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 33px;
}
#logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}
.logo-icon {
  height: 55px;
  width: 55px;
}
.title-app {
  font-family: BebasNeue-Regular, Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #e95420;
}
.form-field {
  display: flex;
  gap: 13px;
  align-items: center;
  justify-content: center;
}
#city-name {
  min-width: 275px;
  max-width: 503px;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  height: 17px;
  font-size: 18px;
  outline: none;
  padding: 7px;
}
#city-name:focus {
  border: 1px solid blue;
  box-shadow: 2px 3px 7px 0px grey;
}
#btn-search {
  background-color: var(--color-purple);
  height: 33px;
  border: 0;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  width: 90px;
}
#btn-search:hover {
  background-color: var(--color-purple-white);
}
#container-main-content {
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: var(--color-pink);
  padding: 15px;
  border-radius: 15px;
}

#container-top-midle-main {
  display: flex;
  justify-content: space-between;
  border: 1px solid darkcyan;
  height: 35%;
  align-items: center;
}
.container-address-and-conditions {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.container-btn-unit {
  grid-row: 1 / 2;
  grid-column: 2 / 3;

  display: flex;
  justify-content: space-evenly;
  width: 90px;
  align-items: center;
}
.btn-celsius {
  height: 30px;
  flex-grow: 1;
  border-radius: 5px 0px 0px 5px;
  border-right-width: 1px solid;
}
.btn-fahrenheit {
  height: 30px;
  flex-grow: 1;
  border-radius: 0px 5px 5px 0px;
}
.address {
  font-size: 35px;
  font-weight: bolder;
}
.conditions {
  font-size: 23px;
  font-weight: 500;
}
.container-temp-and-icon {
  grid-row: 2 / 3;
  grid-column: 1 / 2;

  display: flex;
  align-items: center;
  gap: 25px;
}
.temp {
  font-size: 73px;
  font-weight: 500;
}
.icon-weather {
  height: 175px;
  width: 175px;
}
.container-weather-details {
  grid-row: 2 / 3;
  grid-column: 2 / 3;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 19px;
  align-items: flex-start;
}
.weather-details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

#container-loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #9c41f2;
  border-radius: 100%;
  margin: auto;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.toggle-checkbox {
  display: none;
}
.label-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
  border: 3px solid #343434;
  border-radius: 20px;
  background: #343434;
  font-weight: bold;
  color: #343434;
  cursor: pointer;
}
.label-container::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0%;
  border-radius: 20px;
  background: white;
  transition: all 0.3s;
}
.label-container div {
  padding: 6px;
  text-align: center;
  z-index: 1;
}
.toggle-checkbox:checked + .label-container::before {
  left: 50%;
}
.toggle-checkbox:checked + .label-container div:first-child {
  color: white;
  transition: color 0.3s;
}
.toggle-checkbox:checked + .label-container div:last-child {
  color: #343434;
  transition: color 0.3s;
}
.toggle-checkbox + .label-container div:first-child {
  color: #343434;
  transition: color 0.3s;
}
.toggle-checkbox + .label-container div:last-child {
  color: white;
  transition: color 0.3s;
}

.para-error-message {
  font-size: 35px;
  font-weight: bolder;
}
