* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: BebasNeue-Regular;
  src: url(./assets/font/BebasNeue-Regular.ttf);
}

html,
body {
  height: 100%;
}
#container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr;
  height: inherit;
}
#main-container {
  border: 1px solid black;
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
}
#container-header-main {
  grid-row: 1 / 2;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 33px;
}
#logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}
.logo-icon {
  height: 55px;
  width: 55px;
}
.title-app {
  font-family: BebasNeue-Regular, Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #e95420;
}
.form-field {
  display: flex;
  gap: 13px;
  align-items: center;
  justify-content: center;
}
#city-name {
  min-width: 275px;
  max-width: 503px;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  height: 17px;
  font-size: 18px;
  outline: none;
  padding: 7px;
}
#btn-search {
  background-color: #77216f;
  height: 33px;
  border: 0;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  width: 90px;
}
#container-main-content {
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #b9ccc954;
}

#container-top-midle-main {
  display: flex;
  justify-content: space-between;
  border: 1px solid darkcyan;
  height: 35%;
  align-items: center;
}
.container-address-and-conditions {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.address {
  font-size: 35px;
  font-weight: bolder;
}
.conditions {
  font-size: 23px;
  font-weight: 500;
}
.container-temp-and-icon {
  grid-row: 2 / 3;
  grid-column: 1 / 2;

  display: flex;
  align-items: center;
  gap: 25px;
}
.temp {
  font-size: 73px;
  font-weight: 500;
}
.icon-weather {
  height: 175px;
  width: 175px;
}
.container-weather-details {
  grid-row: 2 / 3;
  grid-column: 2 / 3;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 19px;
  align-items: flex-start;
}
.weather-details {
  display: flex;
}

#container-loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #9c41f2;
  border-radius: 100%;
  margin: auto;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
